<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>sponsors.com</title>
    <!-- style css link -->
    <link rel="stylesheet" href="/css/club_home.css">
    <!-- fontawesome css link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    
<!-- header section start -->


    <header>
        <div class="header-container">
            <div class="header-wrapper">
                <div class="logoBox" style="display: flex;">
                    <img src="//images/sponsors-logo.png" alt="logo">
                    <label>My sponsor</label>
                </div>
                <div class="searchBox">
                    <input type="search">
                    <i class="fas fa-search"></i>
                </div>
                
                <div class="iconBox2"><a href="#"><i class="fa-solid fa-newspaper"></i></a>
                  <a href="poste_club.html"> <i class="fa-solid fa-bell"></i></a>  
                   
                  
                    <label><img src="/images/user.png" alt="user"></label>
                    <i class="fa-solid fa-caret-down"></i>
                </div>
            </div>
        </div>
    </header>


<!-- header section end -->
<!-- home section start -->


<div class="home">
    <div class="container">
        
        <div class="home-weapper">

            <!-- home left start here -->
            <div class="home-left">

                
               
                <div class="pages">
                    <h4 class="mini-headign">Les sponsors</h4>
                    <label>
                        <img src="/images/sponsor.jpg" alt="messenger">
                        <span>sposor1</span>
                    </label>
                    <label>
                        <img src="/images/sponsor.jpg" alt="instagram">
                        <span>sponsor2</span>
                    </label>
                    <button class="see-more-btn">See more <i class="fa-solid fa-angle-down"></i></button>
                </div>

                <div class="group">
                    <h4 class="mini-headign">Les clubs</h4>
                    <label>
                        <img src="/images/club1.jpg" alt="group01">
                        <span>csc</span>
                    </label>
                    
                    <label>
                        <img src="/images/club2.png" alt="group02">
                        <span>club Sport</span>
                    </label>

                    <label>
                        <img src="/images/club3.jpg" alt="group03">
                        <span>club robotique</span>
                    </label>

                    <button class="see-more-btn">See more <i class="fa-solid fa-angle-down"></i></button>
                </div>

              

              
                
            </div><!-- home left end here -->

            <!-- home center start here -->

            <div class="home-center">
                <div class="home-center-wrapper">
                   


                    <div class="createPost">

                        <h3 class="mini-headign">Create Post</h3>
                        <form action="">
                        <div class="post-text">
                            <img src="/images/user.png" alt="user">
                            <input type="text-area" placeholder="details of post">
                        </div>

                        <div class="post-icon">
                          <div class="file_upload">
<input type="file" name="contenu" id="contenu">
<label for="contenu"> <i class="fa-solid fa-download "></i><span class="name_logo">upload file</span></label>
                          </div>

                           <input type="submit" class="ADDbtn" value="Add post">

                     </form>      

                        </div>

                    </div>

                   
                    <div class="fb-post1">
                        <div class="fb-post1-container">
                            <div class="fb-post1-header">
                                <ul>
                                    <li class="active">Tout</li>
                                    <li>recent</li>
                                    <li>actualité</li>
                                </ul>
                            </div>
                            <div class="fb-p1-main">
                                <div class="post-title">
                                    <img src="/images/user.png" alt="user picture">
                                    <ul>
                                        <li><h3>club cdh <span> . 2 hours ago</span><i class="fa-sharp fa-solid fa-gear"></i></a></h3> </li>
                                        <li><span>02 march at 12:55 PM</span></li>
                                        <li></li>
                                    </ul>
                                  
                                    
                                </div>
  
                                <div class="post-//images">
                                    <div class="post-/images1">
                                        <img src="/images/post.jpg" alt="post //images 01">
                                       
                                    </div>
                                   
                                </div>

                                <div class="like-comment">
                                    <ul>
                                        <li>
                        
                                            <img src="/images/like.png" alt="like">
                                            <span>approuver</span>
                                        </li>
  
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="fb-post1">
                    <div class="fb-post1-container">
                        <div class="fb-p1-main">
                            <div class="post-title">
                                <img src="/images/user.png" alt="user picture">
                                <ul>
                                    <li><h3>club cdh <span> . 3 hours ago</span></h3></li>
                                    <li><span>02 march at 12:55 PM</span></li>
                                </ul>
                               
                            </div>

                            <div class="post-//images">
                                <div class="post-/images1">
                                    <img src="/images/post.jpg" alt="post //images 01">
                                   
                                </div>
                               
                            </div>

                            <div class="like-comment">
                                <ul>
                                    <li>
                    
                                        <img src="/images/like.png" alt="like">
                                        <span>approuver</span>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

          
            </div> <!-- home center end -->

            <div class="home-right">
                <div class="home-right-wrapper">

                    <div class="event-friend">
                        <div class="event">
                            <h3 class="heading">Upcoming Events <span>see all</span></h3>
                            <img src="/images/upcom.jpg" alt="event-img">
                            <div class="event-date">
                                <h3>21 <b>july</b></h3>
                                <h4>voayage humanitaire<span>atlas</span></h4>
                            </div>
                           
                        </div>

                      
                    
                        

                    </div>

                   

                   

                </div><!-- home right wrapper end -->
            </div><!-- home right end -->






        </div>
    </div>
</div>




<!-- home section end -->



</body>
</html>