<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/logo.png">
    <title>My Sponsor</title>
    <!-- style css link -->
    <link rel="stylesheet" href="/css/entreprise_home.css">
    <link rel="stylesheet" href="/css/notification.css">
    <!-- fontawesome css link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
 
<!-- header section start -->


    <header>
        <div class="header-container">
            <div class="header-wrapper">
                <div class="logoBox" style="display: flex;">
                    <img src="/images/sponsors-logo.png" alt="logo">
                    <span>My sponsor</span>
                </div>
                <div class="searchBox">
                    <input type="search">
                    <i class="fas fa-search"></i>
                </div>
                
                <div class="iconBox2"><a href="poste_entreprise.html" ><i class="fa-solid fa-newspaper"></i></a>
                <button onclick="closenotification()">
                    <i class="fa-solid fa-bell"></i>
                    <span class="icon-badget">2</span>
                   </button> 
                  
                    <label><a href="profile_entreprise.html"><img src="/images/sponsor.jpg" alt="user"></a></label>
                    <a href=""><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                </div>
            </div>
        </div>
    </header>


<!-- header section end -->
<!-- home section start -->


<div class="home">
    <div class="container">
        
        <div class="home-weapper">

            <!-- home left start here -->
            <div class="home-left">

                
               
                <div class="pages">
                    <h4 class="mini-headign">Les sponsors</h4>
                    <label>
                        <img src="/images/sponsor.jpg" >
                        <span>sposor1</span>
                    </label>
                    <label>
                        <img src="/images/sponsor.jpg" >
                        <span>sponsor2</span>
                    </label>
                    <button class="see-more-btn">See more <i class="fa-solid fa-angle-down"></i></button>
                </div>

                <div class="group">
                    <h4 class="mini-headign">Les clubs</h4>
                    <label>
                        <img src="/images/club1.jpg" alt="group01">
                        <span>csc</span>
                    </label>
                    
                    <label>
                        <img src="/images/club2.png" alt="group02">
                        <span>club Sport</span>
                    </label>

                    <label>
                        <img src="/images/club3.jpg" alt="group03">
                        <span>club robotique</span>
                    </label>

                    <button class="see-more-btn">See more <i class="fa-solid fa-angle-down"></i></button>
                </div>

              

              
                
            </div><!-- home left end here -->

            <!-- home center start here -->

            <div class="home-center">
                <div class="home-center-wrapper">
                   


                   

                   
                    <div class="fb-post1">
                        <div class="fb-post1-container">
                            <div class="fb-post1-header">
                                <ul>
                                    <li class="active">Tout</li>
                                    <li>recent</li>
                                    <li>actualité</li>
                                </ul>
                            </div>
                            <div class="fb-p1-main">
                                <div class="post-title">
                                    <img src="/images/user.png" alt="user picture">
                                    <ul>
                                        <li><h3>club cdh <span> . 2 hours ago</span></h3> </li>
                                        <li><span>02 march at 12:55 PM</span></li>
                                        <li></li>
                                    </ul>
                                  
                                    
                                </div>
  
                                <div class="post-images">
                                    <div class="post-images1">
                                        <img src="/images/post.jpg" alt="postimages 01">
                                       
                                    </div>
                                 
                                   
                                </div>
<div>
    WebA paragraph is defined as “a group of sentences or a single sentence that forms a unit” (Lunsford and Connors 116). Length and appearance do not determine whether a section 
    WebA paragraph is defined as “a group of sentences or a single sentence that forms a unit” (Lunsford and Connors 116). Length and appearance do not determine whether a section 
</div>
                                <div class="Done-event">
                                    <ul>
                                        <li >
                        <form action="">
                                            <i class="fa-solid fa-circle-check" style="color: rgb(24, 224, 108);"></i>
                                            <input type="button" value="Approuver">
                                        </form>
                                        </li>
  
                                    </ul>
                                </div>
                           
                            </div>
                        </div>
                    </div>

                </div>
                

          
            </div> <!-- home center end -->

            <div class="home-right">
                <div class="home-right-wrapper">

                    <div class="event-friend">
                        <div class="event">
                            <h3 class="heading">Upcoming Events <span>see all</span></h3>
                            <img src="/images/upcom.jpg" alt="event-img">
                            <div class="event-date">
                                <h3>21 <b>july</b></h3>
                                <h4>voayage humanitaire<span>atlas</span></h4>
                            </div>
                           
                        </div>

                      
                    
                        

                    </div>

                   

                   

                </div><!-- home right wrapper end -->
            </div>
            <div class="notifications" >
                <div class="notification-container"  id="notifications" >
                    <h3>Notifications
                       <a href="" onclick="openNotif()"><i class="material-icons dp48 right">close</i></a> 
                    </h3>
                
                    <input class="checkbox" type="checkbox" id="size_1" value="small" checked />
                    <label class="notification new" for="size_1"><em>1</em> new <a href="">guest account(s)</a> have been created.<i class="material-icons dp48 right">clear</i></label>
                
                    <input class="checkbox" type="checkbox" id="size_2" value="small" checked />
                    <label class="notification new" for="size_2"><em>3</em> new <a href="">lead(s)</a> are available in the system.<i class="material-icons dp48 right">clear</i></label>
                    
                    <input class="checkbox" type="checkbox" id="size_3" value="small" checked />
                    <label class="notification" for="size_3"><em>5</em> new <a href="">task(s)</a>.<i class="material-icons dp48 right">clear</i></label>
                
                    <input class="checkbox" type="checkbox" id="size_4" value="small" checked />
                    <label class="notification" for="size_4"><em>9</em> new <a href="">calendar event(s)</a> are scheduled for today.<i class="material-icons dp48 right">clear</i></label>
                
                    <input class="checkbox" type="checkbox" id="size_5" value="small" checked />
                    <label class="notification" for="size_5"><em>1</em> blog post <a hreDone-event(s)</a> need approval.<i class="material-icons dp48 right">clear</i></label>
                    
                  </div>
            </div>
            </div><!-- home right end -->






        </div>
    </div>
</div>




<!-- home section end -->
<script>
      const closenotification = () => {
    document.getElementById("notifications").style.visibility = "visible";
 
    
  
};
const openNotif=() =>{
    document.getElementById("notifications").style.visibility = "hidden";
};
const lister_spnsor= () => {
    document.getElementById("sub-approuve").style.visibility = "visible";
 
    
  
}; 
const close_spnsor= () => {
    document.getElementById("sub-approuve").style.visibility = "hidden";
    document.getElementById("sub-approuve").style.height = "0px";
 
    
  
}; 
</script>



</body>
</html>